/* 

#ffca1f
#111
#c9789b
#be2627
#005db7
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.7;
  color: #111;
}

header {
}

.text-box {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #111;

  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 30px;
  font-family: "Dancing Script";

  animation: moveInleft;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 8.4px;
  font-family: "Lato";

  animation: moveInright;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
