@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #ecf0f1
}

h1,
p{

  text-align: center;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 97vh;
}
.container .Btn {
  width: 180px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}
.container .Btn:hover {
  border: none;
  color: white;
  font-size: 28px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Buttons */
.purple {
  border: 2px solid #512da8;
  color: #512da8;
}
.purple:hover {
  background-color: #512da8;
  transition: all 0.3s ease-in-out;
}

.blue {
  border: 2px solid #1976d2;
  color: #1976d2;
}
.blue:hover {
  background-color: #1976d2;
  transition: all 0.3s ease-in-out;
}

.lorange {
  border: 2px solid #fbc02d;
  color: #fbc02d;
}
.lorange:hover {
  background-color: #fbc02d;
  transition: all 0.3s ease-in-out;
}

.brique {
  border: 2px solid #ff5722;
  color: #ff5722;
}
.brique:hover {
  background-color: #ff5722;
  transition: all 0.3s ease-in-out;
}


span{
color:#16a085;
  
}
.copyright {
  position: absolute;
  bottom: 100px;
  left:45%;
}
.copyright a {
  text-decoration: none;
  color: #16a085;
}
.copyright a:hover {
  text-decoration: underline;
}